.education-college-container {
    padding-top: 5vh;
}

.education-logo-college {
    width: 100px; 
    height: 60px; 
    background-size: cover;
}

.education-career {
    padding-top: 2vh;
}

.education-years {
    padding-top: 1.5vh;
}

.education-language-title {
    padding-top: 8vh; 
    font-weight: bold;
}

.education-language {
    padding-top: 3.5vh;
}

.education-language-level {
    padding-top: 1.5vh;
}