.experience-company {
    padding-top: 5vh;
    color: #60EEB2;
}

.experience-position-name {
    padding-top: 4vh;
}

.experience-position-dates {
    padding-top: 2vh;
}

.experience-description {
    padding-top: 5vh;
}